@page "/home"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <img src="Imagenes/logoduran.png" alt="Factura Electrónica" class="logo-large" />
    <h1><strong>Sistemas de Ventas</strong></h1>
</div>

<style>
    .logo-large {
        width: 350px; /* Ajusta el tamaño del logo */
        height: auto; /* Mantiene la proporción del logo */
        margin-bottom: 40px; /* Espacio entre la imagen y el título */
        margin-top: 50px; /* Mueve la imagen un poco más abajo */
    }
</style>
